<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.UserMapper">

    <!-- 用户分页 条件查询 -->
   <!-- <select id="findAllUserByPage" parameterType="com.lagou.entity.UserVo" resultType="com.lagou.entity.User">
        select
         id,
         name,
         portrait,
         phone,
         password,
         STATUS,
         create_time
         from user
         <where>

             <if test="true">

                 and is_del !=1
             </if>

             <if test="name!=null and name !=''">

                 and name = #{name}
             </if>

             <if test="startCreateTime !=null and endCreateTime !=null">

                 and create_time between #{startCreateTime} and #{endCreateTime}
             </if>
         </where>
    </select>-->

    <!-- 用户状态设置 -->
    <!--<update id="updateUserStatus" parameterType="com.lagou.entity.User">
        update user set status = #{status},update_time = #{update_time} where id = #{id}
    </update>
-->
    <!-- 用户登录 -->
    <!--<select id="login" parameterType="com.lagou.entity.User" resultType="com.lagou.entity.User">
        select * from user where phone = #{phone}
    </select>-->



    <!-- 根据用户id 清空用户角色关联表信息
    <delete id="deleteUserContextRoleById" parameterType="int">
        delete from user_role_relation where user_id = #{userId}
    </delete>

    &lt;!&ndash; 重新为用户分配角色 &ndash;&gt;
    <insert id="saveUserContextRole" parameterType="com.lagou.entity.User_Role_relation">
        insert into user_role_relation values (null,#{userId},#{roleId},#{createdTime},#{updatedTime},
        #{createdBy},#{updatedBy})
    </insert>

    &lt;!&ndash; 动态菜单显示 &ndash;&gt;
     根据用户id 查询关联的角色信息 -->
    <!--<select id="findUserRelationRoleById" parameterType="int" resultType="com.lagou.entity.Role">
        select * from roles r inner join user_role_relation ur on ur.role_id = r.id
         where ur.user_id = #{userid}
    </select>


    &lt;!&ndash; 根据角色id 查询角色拥有的顶级菜单信息 &ndash;&gt;
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="com.lagou.entity.Menu">
        select distinct m.* from roles r inner join role_menu_relation rm on r.id = rm.role_id
         inner join menu m on rm.menu_id = m.id where m.parent_id = -1 and r.id in
         <foreach collection="list" item="item" open="(" separator="," close=")">
             #{item}
         </foreach>
    </select>

    &lt;!&ndash; 根据pid 查询关联的子菜单信息 &ndash;&gt;
    <select id="findSubMenuByPid" parameterType="int" resultType="com.lagou.entity.Menu">
        select * from menu where parent_id = #{pid}
    </select>

    &lt;!&ndash; 获取用户拥有的资源权限信息 &ndash;&gt;
    <select id="findResourceByRoleId" parameterType="java.util.List" resultType="com.lagou.entity.Resource">
        select distinct rc.* from roles r inner join role_resource_relation rrr on
        rrr.role_id = r.id inner join resource rc on rrr.resource_id = rc.id
        where r.id in
        <foreach collection="list" item="item" open="("  separator="," close=")">
            #{item}
        </foreach>
    </select>-->
</mapper>